.content {
    display: grid;
    grid-template-columns: 70% 30%;
}

h1 {
    grid-column: 1/ 3;
    text-align: center;
    font-size: 30px;
    color: #4ea9ff;
}

.leftColumn {
    grid-column: 1/ 2;
    grid-row: 2/3;
    text-align: justify;
}

.rightColumn {
    padding-left: 10px;
    grid-column: 2/ 3;
}

.rightColumn img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 776px) {
    .content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: none;
    }
    h1 {
        grid-row: 1/2;
    }
    .leftColumn {
        grid-column: 1/ 2;
        grid-row: 3/4;
        justify-content: center;
    }
    .rightColumn {
        grid-column: 1/ 2;
        grid-row: 2/3;
        padding-left: unset;
        text-align: justify;
    }
    .rightColumn img {
        width: 50%;
    }
}