h1 {
    grid-column: 1/ 3;
    text-align: center;
    font-size: 30px;
    color: #4ea9ff;
}

input[type=text],
input[type=tel],
textarea {
    font-family: 'Roboto';
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=title] {
    font-family: 'Roboto';
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=submit] {
    font-family: 'Roboto';
    background-color: #666666;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4ea9ff;
}

.form {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(112, 112, 112, 0.2);
    color: #4ea9ff;
    padding: 20px;
}

.form a:link {
    text-decoration: none;
    color: #ff8566;
    background: none;
}

.form a:visited {
    color: #ff8566;
    background: none;
}

.form a:hover {
    color: #ff3300;
    background: none;
}

.form a:active {
    color: #ff3300;
    background: none;
}

@media (max-width: 916px) {
    .form {
        width: 70vw;
    }
}