.content {
    display: grid;
    grid-template-columns: 70% 30%;
}

.leftColumn {
    grid-column: 1/ 2;
    grid-row: 2/3;
}

.rightColumn {
    padding-left: 10px;
    grid-column: 2/ 3;
    grid-row: 2/3;
    text-align: center;
}

h1 {
    grid-column: 1/ 3;
    text-align: center;
    font-size: 30px;
    color: #4ea9ff;
}

input[type=name],
input[type=email],
input[type=tel],
textarea {
    font-family: 'Roboto';
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=submit] {
    font-family: 'Roboto';
    background-color: #666666;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4ea9ff;
}

.form {
    border-radius: 10px;
    background-color: rgba(112, 112, 112, 0.2);
    color: #4ea9ff;
    padding: 20px;
}

@media (max-width: 916px) {
    .content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: none;
    }
    .leftColumn {
        grid-column: 1/ 2;
        grid-row: 3/4;
        justify-content: center;
    }
    .rightColumn {
        grid-column: 1/ 2;
        grid-row: 2/3;
        padding-left: 10px;
        text-align: center;
    }
}