footer {
    background-color: #666666;
    color: #ffffff;
    width: 100%;
    border: 10px;
    padding-top: 10px;
    text-align: center;
    margin-top: 2vh;
}

footer a:link,
footer a:visited {
    background: #666666;
    border-radius: 10px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer a:hover,
footer a:active {
    background: #4ea9ff;
}

.copyright {
    background-color: #4ea9ff;
    margin-top: 1vh;
    padding: 5px;
}

@media (max-width: 916px) {
    footer {
        min-width: 100vw;
    }
}